.form{
	border: 1px solid black;
	width: 60%;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.form>*{
	margin: 10px;
}

.form button{
	padding: 10px;
	background-color: rgb(130, 255, 130);
	border-color: rgb(85, 213, 85);
	border-radius: 10px;
}
.form input{
	padding: 10px;
}
#role{
	padding: 10px;
}
.error{
	color: red;
}
.valid{
	border: 2px solid green;
}
.invalid{
	border: 2px solid red;
}